name: Import

on:
  repository_dispatch:
    types: 
      - new-release-note

jobs:
  ImportNewReleaseNote:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - uses: jungwinter/split@v1
        id: split
        with:
          msg: ${{ github.event.client_payload.ref }}
          seperator: "/"

      - name: Fetch the new release note
        env:
          TAG: ${{ steps.split.outputs._2 }}
          REPOSITORY: ${{ github.event.client_payload.repository }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAGS: ${{ github.event.client_payload.tags }}
          TEMPLATE: ${{ github.event.client_payload.template }}
        run: |
          yarn install
          yarn import:release

      - name: Create a new Pull Request
        uses: peter-evans/create-pull-request@v2
        with:
          token: ${{ secrets.DISPATCH_ACCESS_TOKEN }}
          commit-message: '@${{github.event.client_payload.repository}} ${{steps.split.outputs._2}} release note'
          title: '@${{github.event.client_payload.repository}} ${{steps.split.outputs._2}} release note'
          body: 'Automated pull request for @${{github.event.client_payload.repository}} ${{steps.split.outputs._2}} release note'
          branch: "${{github.event.client_payload.repository}}/${{steps.split.outputs._2}}"
          author: 'Box DevRel <devrel@box.com>'
          committer	: 'Box DevRel <devrel@box.com>'
          labels: automerge

      - name: Send Slack notification
        uses: Ilshidur/action-slack@2.0.2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_USERNAME: GitHub Actions
          SLACK_AVATAR: "https://avatars3.githubusercontent.com/u/8659759?s=200&v=4"
        with:
          args: "@box/box-developer-changelog: @${{ github.event.client_payload.repository }} ${{steps.split.outputs._2}} released"
          